@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue1: #102E9E;
    --blue2: #1691E2;
    --blue3: #166be2;
    --yellow1: #ffc400;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

*::selection {
    background: #ff589e;
    color: var(--white1);
}