<main>
  <div class="slider">
    <div
      class="slides"
      [style.transform]="'translateX(-' + anhhientai * 20 + '%)'"
    >
      <div class="slide-item">
        <img src="./assets/img/banner1.jpg" alt="" />
      </div>
      <div class="slide-item">
        <img src="./assets/img/banner2.jpg" alt="" />
      </div>
      <div class="slide-item">
        <img src="./assets/img/banner3.jpg" alt="" />
      </div>
      <div class="slide-item">
        <img src="./assets/img/banner4.jpg" alt="" />
      </div>
      <div class="slide-item">
        <img src="./assets/img/banner5.jpg" alt="" />
      </div>
    </div>
    <!-- <a href="#slide-1">1</a>
        <a href="#slide-2">2</a>
        <a href="#slide-3">3</a>
        <a href="#slide-4">4</a>
        <a href="#slide-5">5</a> -->
  </div>

  <!-- Booking and Intro Section -->
  <div class="booking_and_intro section" id="booking-section">
    <div class="inner_body_section">
      <div class="pure-g">
        <!-- Schedule Component - Left Side (60%) -->
        <div class="pure-u-1-1 pure-u-xl-3-5 pure-u-lg-3-5">
          <div class="schedule_wrapper">
            <app-schedule></app-schedule>
          </div>
        </div>

        <!-- Hospital Introduction - Right Side (40%) -->
        <div class="pure-u-1-1 pure-u-xl-2-5 pure-u-lg-2-5">
          <div class="intro_wrapper">
            <div class="booking_intro">
              <div class="inner_booking_intro">
                <p class="booking_intro_text_1">BỆNH VIỆN ĐA KHOA TÂM ANH</p>
                <p class="booking_intro_text_2">
                  Tận tâm - Chất lượng - Thân thiện
                </p>
                <div class="pure-g">
                  <div class="pure-u-1-2">
                    <div class="booking_intro_item">
                      <a href="#" class="booking_intro_link">
                        <i
                          class="fa-solid fa-phone-volume booking_intro_icon"
                        ></i>
                        <p class="booking_intro_text_3">Tư vấn khám bệnh</p>
                      </a>
                    </div>
                  </div>

                  <div class="pure-u-1-2">
                    <div class="booking_intro_item">
                      <a href="#" class="booking_intro_link">
                        <i
                          class="fa-solid fa-stethoscope booking_intro_icon"
                        ></i>
                        <p class="booking_intro_text_3">Chuyên gia - Bác sĩ</p>
                      </a>
                    </div>
                  </div>

                  <div class="pure-u-1-2">
                    <div class="booking_intro_item">
                      <a href="#" class="booking_intro_link">
                        <i
                          class="fa-solid fa-laptop-medical booking_intro_icon"
                        ></i>
                        <p class="booking_intro_text_3">Tra cứu kết quả</p>
                      </a>
                    </div>
                  </div>

                  <div class="pure-u-1-2">
                    <div class="booking_intro_item">
                      <a href="#" class="booking_intro_link">
                        <i
                          class="fa-regular fa-file-lines booking_intro_icon"
                        ></i>
                        <p class="booking_intro_text_3">Bảng giá</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro_hospital section">
    <div class="inner_body_section">
      <div class="pure-g">
        <div class="pure-u-md-1-2 pure-u-1-1">
          <div class="intro_hospital_description">
            <p class="section_title">
              HỆ THỐNG BỆNH VIỆN CAO CẤP CHUẨN 5 SAO HÀNG <br /><br />
              ĐẦU VIỆT NAM
            </p>
            <br /><br />
            <p class="intro_hospital_text">
              Hệ thống Bệnh Viện Đa Khoa Tâm Anh là địa chỉ uy tín về khám chữa
              bệnh, với đội ngũ chuyên gia - bác sĩ hàng đầu, trang thiết bị
              hiện đại, cùng các phác đồ điều trị hiệu quả, khoa học mang đến
              dịch vụ khám, điều trị, chăm sóc sức khỏe cao cấp, toàn diện với
              chi phí hợp lý.
            </p>
          </div>
        </div>

        <div class="pure-u-md-1-24"></div>
        <div class="pure-u-md-11-24 pure-u-1-1">
          <div class="intro_hospital_video_box">
            <img src="./assets/img/images.jpeg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro_special section">
    <div class="inner_body_section">
      <p class="section_title title_type_2">GIÁ TRỊ KHÁC BIỆT CỦA TÂM ANH</p>
      <div class="intro_special_box">
        <div class="pure-g">
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_special_item_content">
                <i class="fa-solid fa-stethoscope intro_special_icon"></i>
                <p class="section_item_text">
                  BÁC SĨ GIỎI - CHUYÊN VIÊN GIÀU KINH NGHIỆM
                </p>
              </div>
            </div>
          </div>
          <div class="pure-u-md-1-24"></div>
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_special_item_content">
                <i class="fa-regular fa-hospital intro_special_icon"></i>
                <p class="section_item_text">
                  TRANG THIẾT BỊ HIỆN ĐẠI BẬC NHẤT
                </p>
              </div>
            </div>
          </div>
          <div class="pure-u-md-1-24"></div>
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_special_item_content">
                <i class="fa-solid fa-kit-medical intro_special_icon"></i>
                <p class="section_item_text">HIỆU QUẢ ĐIỀU TRỊ CAO</p>
              </div>
            </div>
          </div>
          <div class="pure-u-md-1-24"></div>
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_special_item_content">
                <i class="fa-regular fa-paste intro_special_icon"></i>
                <p class="section_item_text">
                  QUY TRÌNH TOÀN DIỆN, KHOA HỌC, CHUYÊN NGHIỆP
                </p>
              </div>
            </div>
          </div>
          <div class="pure-u-md-1-24"></div>
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_special_item_content">
                <i class="fa-sharp fa-solid fa-coins intro_special_icon"></i>
                <p class="section_item_text">DỊCH VỤ CAO CẤP CHI PHÍ HỢP LÝ</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="intro_doctor section">
    <div class="inner_body_section">
      <p class="section_title">
        Chuyên gia đầu ngành - bác sĩ giỏi - chuyên viên giàu kinh nghiệm
      </p>
      <div class="intro_doctor_box">
        <div class="pure-g">
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_doctor_item_content">
                <p class="intro_doctor_number">24</p>
                <p class="section_item_text">GIÁO SƯ - P. GIÁO SƯ</p>
              </div>
            </div>
          </div>
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_doctor_item_content">
                <p class="intro_doctor_number">171</p>
                <p class="section_item_text">TIẾN SĨ - BÁC SĨ CKII</p>
              </div>
            </div>
          </div>
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_doctor_item_content">
                <p class="intro_doctor_number">490</p>
                <p class="section_item_text">THẠC SĨ - BÁC SĨ CKI</p>
              </div>
            </div>
          </div>
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_doctor_item_content">
                <p class="intro_doctor_number">786</p>
                <p class="section_item_text">BÁC SĨ</p>
              </div>
            </div>
          </div>
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_doctor_item_content">
                <p class="intro_doctor_number">155</p>
                <p class="section_item_text">KỸ THUẬT VIÊN</p>
              </div>
            </div>
          </div>
          <div class="pure-u-lg-1-6 pure-u-1-3">
            <div class="section_item">
              <div class="section_item_content intro_doctor_item_content">
                <p class="intro_doctor_number">803</p>
                <p class="section_item_text">ĐIỀU DƯỠNG</p>
              </div>
            </div>
          </div>
        </div>

        <div class="section_button">
          <a href="#" class="button_link">Xem các chuyên gia</a>
        </div>
      </div>
    </div>
  </div>

  <div class="video_area section">
    <div class="inner_body_section">
      <div class="outer_video_box">
        <div class="video_box">
          <iframe
            class="video_area_video"
            src="https://www.youtube.com/embed/oHkJUhqM8qc?si=mgaXZDuRp3m-Tvhp"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</main>
