<footer class="footer">
    <div class="communication">
        <p class="footer_title">LIÊN HỆ VỚI CHÚNG TÔI</p>
        <div class="pure-g">
            <div class="pure-u-md-1-2">
                <div class="footer_image">
                    <img src="./assets/img/communication_left.png" alt="">
                </div>
            </div>
            <div class="pure-u-md-1-2">
                <div class="footer_image">
                    <img src="./assets/img/communication_right.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="footer_true">
        <div class="inner_body_section">
            <div class="pure-g">
                <div class="pure-u-md-1-2 pure-u-1-1">
                    <div class="footer_box">
                        <p class="footer_text">CÔNG TY CỔ PHẦN BỆNH VIỆN ĐA KHOA TÂM ANH <br />
                            Số đăng ký kinh doanh: 0102362369 <br />
                            Cấp bởi Sở kế hoạch và đầu tư Thành phố Hà Nội, đăng ký lần đầu ngày 11 tháng 9 năm 2007</p>
                    </div>
                </div>
                <div class="pure-u-md-1-2 pure-u-1-1">
                    <div class="footer_box">
                        <div class="footer_icon_box">
                            <div class="pure-g">
                                <a class="pure-u-1-5"
                                    href="https://tinnhiemmang.vn/danh-ba-tin-nhiem/tamanhhospitalvn-1663728132">
                                    <img src="./assets/img/tinnhiemmang.png" alt="">
                                </a>
                                <a class="pure-u-1-5"
                                    href="https://www.dmca.com/Protection/Status.aspx?ID=d559761b-d67b-49db-a7b7-8e19686deb81&refurl=https://tamanhhospital.vn/">
                                    <img src="./assets/img/certificate.png" alt="">
                                </a>
                                <a class="pure-u-1-5" href="http://online.gov.vn/Home/WebDetails/47911">
                                    <img src="./assets/img/chungnhan.png" alt="">
                                </a>
                                <a class="pure-u-1-5" href="https://www.facebook.com/benhvientamanh">
                                    <img src="./assets/img/i-facebook.png" alt="">
                                </a>
                                <a class="pure-u-1-5" href="https://www.youtube.com/@benhviendakhoatamanh">
                                    <img src="./assets/img/i-youtube.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>