  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="home">
          <i class="bi bi-house-fill"></i>
          <span>Trang chủ</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="schedule">
          <i class="bi bi-clock"></i>
          <span>Thời gian biểu</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="booking">
          <i class="bi bi-calendar-day"></i>
          <span>Lịch hẹn chờ xác nhận</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="history">
          <i class="bi bi-person-heart"></i>
          <span>Bệnh nhân đã khám</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="notification">
          <i class="bi bi-chat-right-quote-fill"></i>
          <span>Thông báo từ cấp trên</span>
        </a>
      </li>
    </ul>

  </aside><!-- End Sidebar-->