<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="home">
        <i class="bi bi-house-fill"></i>
        <span>Trang chủ</span>
      </a>
    </li>

    <!-- ===== QUẢN LÝ LỊCH TRÌNH ===== -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="work-schedule">
        <i class="bi bi-calendar-plus"></i>
        <span>Lịch làm việc của tôi</span>
      </a>
    </li>

    <!-- ===== QUY TRÌNH KHÁM BỆNH ===== -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="booking">
        <i class="bi bi-calendar-day"></i>
        <span>Lịch hẹn chờ xác nhận</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="today-schedule">
        <i class="bi bi-clock-history"></i>
        <span>Lịch khám hôm nay</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="in-progress">
        <i class="bi bi-activity"></i>
        <span>Đang khám/Chờ kết quả</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="completed-examinations">
        <i class="bi bi-check-circle"></i>
        <span>Đã khám xong</span>
      </a>
    </li>

    <!-- ===== KHÁC ===== -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="notification">
        <i class="bi bi-chat-right-quote-fill"></i>
        <span>Thông báo</span>
      </a>
    </li>
  </ul>
</aside>
<!-- End Sidebar-->
