<main id="main" class="main">

    <div class="pagetitle">
      <h1>Trang chủ</h1>
      <!-- <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav> -->
    </div><!-- End Page Title -->
    <br>
    <br>
    <section class="section">
      <div class="row">
        

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h2 class="card-title">Bác sĩ đang làm</h2>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <h1><i class="bi bi-person-hearts" style="font-size: 35px;"></i>&nbsp;&nbsp;{{bs}}</h1>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card revenue-card">

            <!-- <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div> -->

            <div class="card-body">
              <h2 class="card-title">Bài đăng</h2>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">                  
                  <h1><i class="bi bi-award-fill" style="font-size: 35px;"></i>&nbsp;&nbsp;{{baid}}</h1>
                </div>
              
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->

        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-4">

          <div class="card info-card customers-card">

            <!-- <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div> -->

            <div class="card-body">
              <h2 class="card-title">Chuyên khoa</h2>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <h1><i class="bi bi-file-earmark-text" style="font-size: 35px;"></i>&nbsp;&nbsp;{{dv}}</h1>
                </div>
                
              </div>

            </div>
          </div>

        </div><!-- End Customers Card -->   
        <br>
        
        <div class="col-xxl-6 col-xl-6">

          <div class="card info-card customers-card">

            <div class="card">
              <h2 style="margin-top: 15px;">Thông kê số bệnh nhân đến khám trong năm 2025</h2>
              <div>
                <canvas id="myChart"></canvas>
              </div>
          </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6">

          <div class="card info-card customers-card">

            <div class="card">
              <h2 style="margin-top: 15px;">Thông kê số bác sĩ theo chuyên khoa</h2>
              <div>
                <canvas style="max-height: 280px;" id="myChart2"></canvas>
              </div>
          </div>
          </div>
        </div>
        <div class="col-xxl-12 col-xl-12">

          <div class="card info-card customers-card">

            <div class="card">
              <h2 style="margin-top: 15px;">Thông kê số bệnh nhân đến khám theo chuyên khoa trong năm 2025</h2>
              <div>
                <canvas style="max-height: 300px;" id="myChart3"></canvas>
              </div>
          </div>
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->