<div [hidden]="ktra" class="pure-u-xl-1-2 pure-u-lg-1-1 pure-u-md-1-1 pure-u-sm-1-1 pure-u-1-1" [class.show]="ok">
    <div class="outer_booking_form" style="margin-top: 30px; margin-left: 80px;">
        <div class="booking_form">
            <div class="inner_booking_form">
                <form class="booking_register_form" [formGroup]="addForm" (ngSubmit)="onsb()">
                    <div class="form_header">
                        <p class="form_title">ĐĂNG KÝ KHÁM BỆNH</p>
                        <button class="button_exit" (click)="ktra = !ktra" type="button" [hidden]="!ok"><i
                                class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="form_body">
                        <!-- Hàng đầu trong form (họ tên + ngày sinh) -->
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-sm-1-2">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Họ và tên
                                    </p>
                                    <input class="form_input_text_1" type="text" name="name" id="name"
                                        placeholder="Nhập họ và tên" formControlName="name">
                                    <p class="text-danger" *ngIf="f['name'].errors !== null && submited ">Vui lòng điền
                                        đủ thông tin</p>
                                </div>
                            </div>

                            <div class="pure-u-1-1 pure-u-sm-1-2">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Ngày sinh
                                    </p>
                                    <input class="form_input_text_1" type="date" name="dateOfBirth" id="dateOfBirth"
                                        placeholder="Chọn ngày sinh" formControlName="dob">
                                    <p class="text-danger" *ngIf="f['dob'].errors !== null && submited ">Vui lòng điền
                                        đủ thông tin</p>
                                </div>
                            </div>
                        </div>

                        <!-- Hàng 2 trong form (sđt + email) -->
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-sm-1-2">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Số điện
                                        thoại</p>
                                    <input class="form_input_text_1" type="text" name="phone" id="phone"
                                        placeholder="Nhập số điện thoại" formControlName="phone">
                                    <p class="text-danger" *ngIf="f['phone'].errors !== null && submited ">Vui lòng nhập
                                        đúng định dạng</p>
                                </div>
                            </div>

                            <div class="pure-u-1-1 pure-u-sm-1-2">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Email</p>
                                    <input class="form_input_text_1" type="email" name="email" id="email"
                                        placeholder="Nhập email" formControlName="email">
                                    <p class="text-danger" *ngIf="f['email'].errors !== null && submited ">Vui lòng nhập
                                        đúng định dạng</p>
                                </div>
                            </div>
                        </div>

                        <!-- Hàng 3 trong form(giới tinh + quốc tịch) -->
                        <div class="pure-g">
                            <div class="pure-u-1-1 pure-u-sm-1-2">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Giới tính
                                    </p>
                                    <div class="form_radio pure-g">
                                        <div class="pure-u-1-1 pure-u-sm-1-2">
                                            <input style="width: 20px;height: 20px;" type="radio" id="male"
                                                name="gender" value="MALE" formControlName="gender">
                                            <label style="font-size: 20px;" for="male">Nam</label>
                                        </div>
                                        <div class="pure-u-1-1 pure-u-sm-1-2">
                                            <input style="width: 20px;height: 20px;" type="radio" id="female"
                                                name="gender" value="FEMALE" formControlName="gender">
                                            <label style="font-size: 20px;" for="female">Nữ</label><br>
                                        </div>
                                    </div>
                                    <p class="text-danger" *ngIf="f['gender'].errors !== null && submited ">Vui lòng
                                        điền đủ thông tin</p>
                                </div>
                            </div>
                        </div>

                        <!-- Hàng 4 trong form(tỉnh, quận, xã) -->
                        <div class="pure-g">
                            <div class="pure-u-1-1">
                                <div class="form_element">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup>Địa chỉ
                                    </p>
                                    <input class="form_input_text_1" type="text" name="name" id="name"
                                        placeholder="Nhập địa chỉ" formControlName="address">
                                    <p class="text-danger" *ngIf="f['address'].errors !== null && submited ">Vui lòng
                                        điền đủ thông tin</p>
                                </div>
                            </div>
                        </div>

                        <!-- Hàng 6 (Khoa) -->
                        <div class="form_element">
                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                        style="color: red; font-size: 7px;"></i></sup>Chọn chuyên khoa
                            </p>
                            <div class="form_dropdown">
                                <select class="dropdown" formControlName="idMajor" (change)="onselectkhoa()">
                                    <option value="" disabled selected hidden>Chọn chuyên khoa</option>
                                    <ng-container *ngFor="let item of listMajor | async">
                                        <option [value]="item.id">{{item.name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <p class="text-danger" *ngIf="f['idMajor'].errors !== null && submited ">Vui lòng điền đủ
                                thông tin</p>
                        </div>

                        <!-- Hàng 7(Bác sĩ) -->
                        <div class="form_element">
                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                        style="color: red; font-size: 7px;"></i></sup>Chọn bác sĩ </p>
                            <div class="form_dropdown">
                                <select class="dropdown" formControlName="idUser" (change)="onselectDoctor()">
                                    <option value="" disabled selected hidden>Chọn bác sĩ</option>
                                    <ng-container *ngFor="let item of listDoctor | async">
                                        <option [value]="item.id">{{item.fullName}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <p class="text-danger" *ngIf="f['idUser'].errors !== null && submited ">Vui lòng điền đủ
                                thông tin</p>
                        </div>

                        <!-- Hàng 8(Lịch) -->
                        <div class="form_element">
                            <div class="pure-g">
                                <div class="pure-u-1-1 pure-u-sm-1-2">
                                    <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                style="color: red; font-size: 7px;"></i></sup> Chọn ngày muốn
                                        thăm khám</p>
                                    <div class="form_pickdate">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Choose a date</mat-label>
                                            <input [matDatepickerFilter]="myFilter" matInput [matDatepicker]="picker" (dateChange)="addEvent('change', $event)" formControlName="date" [min]="minDate">
                                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <p class="text-danger" *ngIf="f['date'].errors !== null && submited ">Vui lòng điền
                                        đủ thông tin</p>
                                </div>
                                <div class="pure-u-1-1 pure-u-sm-1-2">
                                    <!-- Hàng 9(đặt lịch) -->
                                    <div class="form_element">
                                        <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                                    style="color: red; font-size: 7px;"></i></sup>Chọn chọn thời gian
                                            khám
                                        </p>
                                        <div class="form_dropdown">
                                            <select class="dropdown drdownspe" formControlName="idHour">
                                                <option value="" disabled selected hidden>Chọn chọn thời gian khám
                                                </option>
                                                <ng-container *ngFor="let item of listHour | async">
                                                    <option *ngIf="!listHourTrung.includes(item.id)" [value]="item.id">
                                                        {{item.name}}</option>
                                                </ng-container>
                                            </select>
                                        </div>
                                        <p class="text-danger" *ngIf="f['idHour'].errors !== null && submited ">Vui lòng
                                            điền đủ thông tin</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Hàng 10(mô tả) -->
                        <div class="form_element">
                            <p class="form_lable"><sup><i class="fa-solid fa-asterisk"
                                        style="color: red; font-size: 7px;"></i></sup>Nhập vấn đề sức
                                khỏe cần thăm khám</p>
                            <div class="form_textarea">
                                <textarea name="reason" id="reason" rows="5" required
                                    placeholder="Nhập tình trạng sức khỏe của bạn" formControlName="note"></textarea>
                            </div>
                            <p class="text-danger" *ngIf="f['note'].errors !== null && submited ">Vui lòng điền đủ thông
                                tin</p>
                        </div>
                        <!-- Hàng 10(nút) -->
                        <div class="form_element">
                            <div class="outer_form_button">
                                <button *ngIf="profileInfor" (click)="autoFill()"  style="margin-right: 10px;" type="button" class="form_button">Điền tự động</button>
                                <button type="submit" class="form_button">Đặt lịch hẹn</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>